.prodList{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 2rem;
}

.card{
    width: 50vw;
    height: 50vh;
    margin-top: 5vh;
    /* color: rgb(73, 124, 125) */
}

/* .prodimg{
    width: auto;
    height: 190px;
} */